.modal {
  width: 90%;
  background: white;
  box-shadow: 0 0 5px;
  position: fixed;
  top: 20vh;
}

.modal__header {
  padding: 1rem;
  color: #d1375b;
  background: #231940;
}

.modal__header h1 {
  margin: 0;
  font-size: 1.25rem;
}

.modal__content {
  padding: 1rem;
}

.modal__actions {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}
